<app-header></app-header>
<section class="section-container">
  <h1 class="section-title">Welcome to My Blog</h1>

  <div class="app-message">
    Container for showing application messages
  </div>

  <div class="flex section-content">
    <div class="flex-end">
      <button class="custom-btn lrg">Add post</button>
    </div>
    <div class="blog-categories">
      <h2>Blog categories</h2>

      <a href="#">Category 1</a>
      <a href="#">Category 2</a>
      <a href="#">Category 3</a>
    </div>

    <div class="blog-list">
      <app-blog></app-blog>
    </div>
  </div>
</section>
