<app-header></app-header>
<section class="section-container">
  <div class="section-intro">
    <h1 class="section-title">Welcome to My Blog</h1>

    <div class="app-message">
      Container for showing application messages
    </div>
  </div>

  <div class="flex section-content">
    <div class="flex-end add-post-wrapper">
      <button class="custom-btn lrg" type="button" (click)="addBlog = true">Add post</button>
    </div>
    <div class="blog-categories">
      <app-sidebar></app-sidebar>
    </div>

    <div class="blog-list">
      <ng-container *ngFor="let blogPost of blogPosts">
        <app-blog [blogPost]="blogPost" (emit)="getBlogPosts()"></app-blog>
      </ng-container>
    </div>
  </div>
</section>

<app-add-edit *ngIf="addBlog" [(addBlog)]="addBlog" (addBlogChange)="getBlogPosts(); addBlog = false"></app-add-edit>
