* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.img-placeholder {
  background-color: #eee;

  &.img-md {
    width: 80px;
    height: 80px;
  }

  &.img-lrg {
    width: 100px;
    height: 100px;
  }
}

// flex classes
.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

// form elements
input, textarea {
  padding: 5px 15px;
  width: 200px;
  border: none;
  border-radius: 3px;

  &:focus {
    outline: none;
  }
}

.form-control {
  position: relative;

  .err-msg {
    position: absolute;
    bottom: -13px;
    left: 90px;
    color: red;
    font-size:10px;
  }
}

.custom-btn {
  background-color: #1D2228;
  color: #fff;
  border: none;
  height: 30px;
  cursor: pointer;
  transition: 200ms background-color;

  &:hover {
    background-color: darken(#1D2228, 10%);
    transition: 200ms background-color;
  }

  &:disabled {
    background-color: lighten(#1D2228, 50%);
    cursor: no-drop;
  }

  &:focus {
    outline: none;
  }

  &.md {
    width: 120px;
  }

  &.lrg {
    width: 200px;
  }
}

// utility

.mr15 {
  margin-right: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb25 {
  margin-bottom: 25px;
}
