<div class="blog-item">
  <div class="blog-item__row flex-between">
    <div class="blog-item__row-info flex">
      <div class="img-placeholder img-md mr15"></div>
      <div class="basic-info">
        <h2>Blog post 1</h2>
        <p>Posted date: 12.12.2019 at 12:00 by Some person</p>
      </div>
    </div>
    <div class="blog-item__row-actions">
      <button class="custom-btn md mr15">Edit</button>
      <button class="custom-btn md">Delete</button>
    </div>
  </div>
  <div class="blog-item__row">
    <p class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="blog-item__row flex-center">
    <div class="img-placeholder img-lrg mr15"></div>
    <div class="img-placeholder img-lrg mr15"></div>
    <div class="img-placeholder img-lrg"></div>
  </div>
</div>

<!--<app-add-edit></app-add-edit>-->

