.blog-item {
  padding: 15px 25px;
  margin-bottom: 20px;

  .basic-info {
    h2 {
      margin: 0 0 10px 0;
    }

    p {
      margin: 0;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .blog-item__row {
    &.row-one {
      flex-direction: column-reverse;

      .blog-item__row-actions {
        margin-bottom: 15px;
      }
    }
  }
}
