<div class="blog-item">
  <div class="blog-item__row flex-between">
    <div class="blog-item__row-info flex">
      <div class="img-placeholder img-md mr15"></div>
      <div class="basic-info">
        <h2>Blog post {{ blogPost.title }}</h2>
        <p>Posted date: {{ blogPost.createdAt | date:'MM/dd/yyyy hh:mm' }} by Some person</p>
      </div>
    </div>
    <div class="blog-item__row-actions">
      <button class="custom-btn md mr15">Edit</button>
      <button class="custom-btn md" (click)="deletePost(blogPost.id)">Delete</button>
    </div>
  </div>
  <div class="blog-item__row">
    <p class="description">
      {{ blogPost.text }}
    </p>
  </div>

  <div class="blog-item__row flex-center">
    <div class="img-placeholder img-lrg mr15"></div>
    <div class="img-placeholder img-lrg mr15"></div>
    <div class="img-placeholder img-lrg"></div>
  </div>
</div>

<!--<app-add-edit></app-add-edit>-->

